.Navbar {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
}

.navbarItem {
  cursor: pointer;
  color: var(--primaryTextColor);
}

.navbarItem:after {
  display:block;
  content: '';
  border-bottom: solid 3px var(--primaryTextColor);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  padding-bottom: 3px;
  cursor: pointer;
}

.navbarItem:hover:after { transform: scaleX(1); }