:root {
  --primaryTextColor: rgb(88, 88, 88);
  --primaryTextColorLight: rgb(135, 135, 135);
  --secondaryTextColor: white;
  --primaryBackgroundColor: white;
  --primaryFont: "Roboto", sans-serif;
  --secondaryFont: "Playwrite US Trad", cursive;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
